.restaurant-parent{
    display: grid;
    grid-template-rows:60% 20% 20% ;
    background-color:#FFFFFF;
    height: 470px;
    width: 300px;
     /* for clicked component */
    /* border: 0.5px solid  #380150; */
    border-radius: 20px;
    margin: 2% auto;
    box-shadow: 0px 10px 39px -9px rgba(0,0,0,0.1);
    cursor: pointer;
}

.speciality{
    font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size:15px;
  margin:0 10px;
  color:#380150;
}
.availablity-open{
    display: flex;
    align-items: center;
    gap:1%;
    font-size:15px;
    background-color:  rgb(220 252 231);
    border-radius:15px;
    padding: 0 5px;
    margin:5px 0 0 5px;
    width:60px;
  
}
.availablity-closed{
    display: flex;
    align-items: center;
    gap:1%;
    font-size:15px;
    background-color: rgb(254 202 202);
    border-radius:15px;
    padding: 0 5px;
    margin:5px 0 0 5px;
    width:70px;

}

.red-circle-closed{
    height:10px;
    width: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    margin: auto;
}
.green-circle-open{
    height:10px;
    width: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    margin: auto;
}
.status-closed{
    margin:auto;
}
.status-open{
    margin:auto;
}
.top-part-restaurant{
    background-color:  #F0F1F5;
    height: 200px;
    width: 270px;
    border-radius: 20px;
    margin: auto;

  
}


.bottom-part-restaurant{
    width: 270px;
    
}
.middle-part-restaurant{
margin: auto;
}

.write-bold-restaurant{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    width: 270px;
   margin: auto 8px;
   color: #380150;
  
  
}
.price-and-orders-holders{
    display: flex;
    justify-content: center;
    gap:55%;
    width: 270px;
    margin: auto;
}
.price-and-orders-holders>.price{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-right: 20px;
    display: flex;
    align-items: center;
    
}
.orders{
    display: flex;
    gap:2%;
  
}
.bottom-part-restaurant{
    display: flex;
    justify-content: center;
    gap:2%;
    width: 270px;
    margin: auto;
    
}
.icon{

    display: flex;
    align-items: center;
    gap:2%;
}
.order-number{
    font-size: 20px;
    color: rgb(203 213 225);
}
.icon-component{
    font-size: 25px;
    color: rgb(203 213 225);
}